<div class="width-500 container">
    <form name="userPasswordForm">
        <label><b>Old Password:</b></label>
        <br>
        <input type="password" class="form-field" name="userOldPassword" ng-model="user['oldPassword']" ng-focus="clearOldPasswordError()" required />
        <span class="span-error" ng-show="userPasswordForm.userOldPassword.$touched && userPasswordForm.userNewPassword.$touched && (user['oldPassword'] == user['newPassword'] && user['oldPassword']!='')">Old
            and New Password Cannot be same</span>
        <span class="span-error"> {{error.oldPassword}} </span>
        <br><br>
        <label><b>New Password:</b></label>
        <br>
        <input type="password" class="form-field" name="userNewPassword" ng-model="user['newPassword']" ng-change="clearError()" ng-focus="clearNewPasswordError()" ng-minlength="8"
            required />
        <span class="span-error" ng-show="userPasswordForm.userNewPassword.$touched && userPasswordForm.userNewPassword.$dirty && userPasswordForm.userNewPassword.$invalid">Password should be of minimum 8 characters.</span>
        <span class="span-error"> {{error.newPassword}} </span>
        <br><br>
        <label><b>Confirm New Password:</b></label>
        <br>
        <input type="password" class="form-field" name="userConfirmPassword" ng-model="user['confirmPassword']"
            ng-change="clearError()" ng-focus="clearConfirmPasswordError()" required />
        <span class="span-error" ng-show="(user['newPassword'] != user['confirmPassword']) && userPasswordForm.userConfirmPassword.$touched">
            Passwords Do Not Match </span>
        <span class="span-error"> {{error.confirmPassword}} </span>
        <br><br>

        <button type="button" class="btn btn-primary" name="buttonChangePassword" ng-disabled="user['newPassword'] != user['confirmPassword'] || updateClicked "
            ng-click="changePassword()">Change Password</button>

        <button type="button" class="btn btn-secondary" name="buttonReset" ng-disabled="userPasswordForm.$pristine"
            ng-click="resetForm()">Reset</button>
    </form>
</div>
