<div class="width-600 container">
    <form name="setpass_form" ng-show="validUser">
        <label><b>New Password :</b></label>
        <br>
        <input type="password" class="form-field" name="password" ng-model="password" ng-minlength="8" ng-focus="clearError()" required>
        <br>
        <span class="span-error" ng-show="setpass_form.password.$touched  && setpass_form.password.$error.required">
            Password Required </span>
        <span class="span-error" ng-show="setpass_form.password.$touched && setpass_form.password.$invalid"><br>
            Minimum Length is 8 </span>
        <br>
        <label><b>Confirm Password :</b></label>
        <br>
        <input type="password" class="form-field" name="repeat_password" ng-model="repeat_password" ng-focus="clearError()" required><br>
        <span class="span-error"
            ng-show="setpass_form.repeat_password.$touched && setpass_form.repeat_password.$pristine" required>
            Confirm Password is Required! </span>
        <span class="span-error"
            ng-show="password != repeat_password && setpass_form.repeat_password.$touched">Passwords do not
            match</span>
        <br>
        <span class="span-error"> {{passwordError}} </span>
        <br>
        <button type="button" class="btn btn-primary" name="setPasswordButton" ng-click="setPassword()"
            ng-disabled="setpass_form.$invalid || (password != repeat_password && setpass_form.password.$dirty && setpass_form.repeat_password.$dirty) || requestInProcess">
            Save </button>
    </form>
    <div ng-hide="validUser">
        <br>
        <h5>This link is invalid</h5>
    </div>
</div>
